<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          Rails Project by Rizwan Kadiwal
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      <script>
          document.write(new Date().getFullYear())
      </script>
      <a href="https://www.foodkady.com" target="_blank">FoodKADY</a>
    </div>
  </div>
</footer>