<div class="sidebar" data-color="green">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="http://foodkady.com" class="simple-text logo-normal">
      FoodKADY Admin Panel
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="../examples/dashboard.html">
          <i class="now-ui-icons design_app"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="../examples/icons.html">
          <i class="now-ui-icons education_atom"></i>
          <p>Icons</p>
        </a>
      </li>
      <li>
        <a href="../examples/map.html">
          <i class="now-ui-icons location_map-big"></i>
          <p>Maps</p>
        </a>
      </li>
      <li>
        <a href="../notifications.html">
          <i class="now-ui-icons ui-1_bell-53"></i>
          <p>Notifications</p>
        </a>
      </li>
      <li>
        <a href="../examples/user.html">
          <i class="now-ui-icons users_single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <%= link_to products_path do %>
        <i class="now-ui-icons design_bullet-list-67"></i>
        <p>Products</p>
      <% end %>
      </li>
      <li>
        <%= link_to categories_path do %>
          <i class="now-ui-icons design_bullet-list-67"></i>
          <p>Categories</p>
        <% end %>
      </li>
      <li>
        <a href="../examples/typography.html">
          <i class="now-ui-icons text_caps-small"></i>
          <p>Typography</p>
        </a>
      </li>
    </ul>
  </div>
</div>